@charset "UTF-8";
/* Slider */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext');
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
.slick-prev:before[dir="rtl"] {
  content: "→";
}
.slick-next {
  right: -25px;
}
.slick-next[dir="rtl"] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
.slick-next:before[dir="rtl"] {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  padding: 0;
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  text-decoration: none;
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot') format('embedded-opentype'), url('../fonts/fontello.woff2') format('woff2'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.ttf') format('truetype'), url('../fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?81160484#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-facebook:before {
  content: '\e800';
}
/* '' */
.icon-ok:before {
  content: '\e801';
}
/* '' */
.icon-user:before {
  content: '\e802';
}
/* '' */
.icon-locked:before {
  content: '\e803';
}
/* '' */
.icon-login:before {
  content: '\e804';
}
/* '' */
.icon-left-dir:before {
  content: '\e806';
}
/* '' */
.icon-right-dir:before {
  content: '\e807';
}
/* '' */
.icon-logout:before {
  content: '\e805';
}
/* '' */
.icon-spin6:before {
  content: '\e839';
}
/* '' */
.icon-vkontakte:before {
  content: '\f189';
}
/* '' */
.icon-instagram:before {
  content: '\f31e';
}
/* '' */
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  background: #353535;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.page-header__logo {
  padding-top: 29px;
  height: 85px;
  text-align: center;
  background: #242424;
}
.top-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  position: relative;
  z-index: 1;
}
.top-nav__inner {
  background: #6a4d38;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.top-nav__item {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.top-nav__link {
  display: block;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  padding: 0 14px;
  -webkit-box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #71543f;
          box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #71543f;
  background: #826550;
}
.top-nav__link:hover {
  background: #755a46;
  border-top-color: #755a46;
}
.top-nav__user-login {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 50px;
  padding: 0 14px;
  background: #826550;
  -webkit-box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #71543f;
          box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #71543f;
}
.top-nav__user-login i {
  color: #978374;
}
.top-nav__user-login:hover {
  background: #755a46;
  border-top-color: #755a46;
}
.top-nav__user-login:hover i {
  color: #fff;
}
.top-nav__toggle {
  position: absolute;
  width: 74px;
  height: 50px;
  right: 0;
  background: #6a4d38;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  -webkit-box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #886e5b;
          box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #886e5b;
}
.top-nav__toggle::before,
.top-nav__toggle::after {
  content: "";
  display: block;
  width: 37px;
  height: 2px;
  position: absolute;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  -webkit-transition: all .75s;
  transition: all .75s;
}
.top-nav__toggle::before {
  top: 25px;
  left: 20px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.top-nav__toggle::after {
  bottom: 24px;
  left: 20px;
}
.top-nav_closed {
  position: relative;
  background: #826550;
}
.top-nav_closed .top-nav__toggle {
  position: absolute;
  right: 0;
}
.top-nav_closed .top-nav__toggle::after {
  display: none;
}
.top-nav_closed .top-nav__toggle::before {
  left: 20px;
  top: 15px;
  -webkit-box-shadow: 0 8px 0 #fff,
				0 16px 0 #fff;
          box-shadow: 0 8px 0 #fff,
				0 16px 0 #fff;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.top-nav_closed .top-nav__toggle:active::before {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 8px 0 rgba(255, 255, 255, 0.3), 0 16px 0 rgba(255, 255, 255, 0.3);
}
.top-nav_closed .top-nav__link {
  display: block;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
}
.logo-img {
  width: 226px;
  height: 30px;
}
@media (max-width: 767px) {
  .top-nav_closed .top-nav__item,
  .top-nav_closed .top-nav__user-controls {
    display: none;
  }
  .top-nav_closed .top-nav__item_active {
    display: block;
    text-align: center;
  }
  .top-nav_opened .top-nav__toggle {
    position: absolute;
    left: 0;
  }
  .top-nav_opened .top-nav__inner {
    position: absolute;
    left: 74px;
    width: 100%;
    height: 80vh;
  }
}
@media (min-width: 768px) {
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 40px;
    min-height: 400px;
    background: #242424 url(../img/top-bg.jpg) center center;
    background-size: cover;
  }
  .page-header__logo img {
    width: 370px;
    height: 101px;
  }
  .top-nav {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    background: #000;
    padding-top: 25px;
    display: block;
  }
  .top-nav__inner {
    background: transparent;
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-nav__toggle {
    display: none;
    position: static;
  }
  .top-nav_opened .top-nav__toggle,
  .top-nav_closed .top-nav__toggle {
    position: static;
    display: none;
    height: 0;
    width: 0;
  }
  .top-nav__list {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .top-nav__item {
    display: block;
    text-align: left;
  }
  .top-nav__link {
    display: inline;
    line-height: 24px;
    padding: 0;
    padding-bottom: 24px;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .top-nav__link:hover {
    background: transparent;
    border-bottom: 3px solid #826550;
  }
  .top-nav__user-item {
    display: block;
  }
  .top-nav__user-login {
    display: inline;
    line-height: 24px;
    padding: 0;
    padding-bottom: 24px;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 0;
  }
  .top-nav__user-login:hover {
    background: transparent;
  }
  .top-nav__user-login:hover i {
    color: #fff;
  }
  .top-nav__user-login i {
    color: #4d4d4d;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    min-height: 650px;
    padding-top: 60px;
  }
  .page-header__logo img {
    width: 370px;
    height: 153px;
  }
  .top-nav__list {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 83.3%;
  }
  .top-nav__user-controls {
    width: 15%;
  }
  .top-nav__user-login {
    font-size: 18px;
    text-transform: uppercase;
  }
}
.login-form__total-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.login-form {
  position: relative;
  z-index: 11;
  background: #f8f5f2;
  padding-top: 30px;
  padding-bottom: 35px;
  top: 135px;
  -webkit-box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
          box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}
.login-form__wrapper {
  width: 87.5%;
  margin: 0 auto;
}
.login-form__header {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.login-form__tip {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}
.login-form__input {
  width: 100%;
  min-height: 50px;
  border: 1px solid #e5ddd5;
  margin-bottom: 5px;
  padding: 15px;
  display: block;
  position: relative;
}
.login-form__input::-webkit-input-placeholder {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}
.login-form__input::-moz-placeholder {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}
.login-form__input:-ms-input-placeholder {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}
.login-form__input::placeholder {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}
.login-form__login::after {
  content: '\e802';
  position: absolute;
  font-family: "fontello";
  font-size: 32px;
  display: inline-block;
}
.login-form__check-wrapper {
  margin-top: 25px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-form__check {
  display: none;
}
.login-form__check:checked + label::before {
  content: '\e801';
}
.login-form__label {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  padding-left: 48px;
  position: relative;
  cursor: pointer;
  display: block;
  width: 57.14%;
}
.login-form__label::before {
  content: '';
  font-family: "fontello";
  font-size: 32px;
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #e5ddd5;
  background: #fff;
  left: 0;
  color: #826550;
}
.login-form__forget-link {
  text-decoration: underline;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  display: block;
  width: 39.28%;
  text-align: right;
}
.login-form__buttons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-form__submit-btn {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  border: 1px solid #e5ddd5;
  background: transparent;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  width: 46.4%;
  min-height: 50px;
  background: #826550;
}
.login-form__submit-btn:active,
.login-form__submit-btn:focus {
  outline: none;
}
.login-form__submit-span {
  display: none;
}
.login-form__close-btn {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  border: 1px solid #e5ddd5;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  outline: none;
  width: 46.4%;
  min-height: 50px;
  background: transparent;
}
.login-form__close-btn:active,
.login-form__close-btn:focus {
  outline: none;
}
@media (min-width: 768px) {
  .login-form {
    padding-top: 50px;
    padding-bottom: 55px;
    width: 60%;
    position: absolute;
    left: 50%;
    margin-left: -30%;
  }
  .login-form__wrapper {
    width: 69.5%;
  }
  .login-form__header {
    font-size: 40px;
  }
  .login-form__input {
    min-height: 70px;
  }
  .login-form__input::-webkit-input-placeholder {
    font-size: 24px;
  }
  .login-form__input::-moz-placeholder {
    font-size: 24px;
  }
  .login-form__input:-ms-input-placeholder {
    font-size: 24px;
  }
  .login-form__input::placeholder {
    font-size: 24px;
  }
  .login-form__submit-btn {
    width: 100%;
  }
  .login-form__submit-span {
    display: inline;
  }
  .login-form__close-btn {
    font-size: 0;
    min-height: 0;
    width: 26px;
    height: 26px;
    padding: 25px;
    border: none;
    position: absolute;
    top: 45px;
    right: -110px;
  }
  .login-form__close-btn::before,
  .login-form__close-btn::after {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    position: absolute;
    background: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: 1;
    -webkit-transition: all .75s;
    transition: all .75s;
  }
  .login-form__close-btn::before {
    top: 25px;
    left: 20px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .login-form__close-btn::after {
    bottom: 23px;
    left: 20px;
  }
}
@media (min-width: 1200px) {
  .login-form {
    width: 38.333%;
    left: 50%;
    margin-left: -19.17%;
  }
}
.stats {
  position: relative;
  /* top: -207px; */
}
.stats__header-inner {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  background: #fff;
}
.stats__header {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.stats__txt {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000;
  padding: 0 9%;
}
.stats__data {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stats__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 6.25%;
}
.stats__item:nth-child(odd) {
  background: #404040;
}
.stats__item:nth-child(even) {
  background: #4e4e4e;
}
.stats__num {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
}
.stats__item-txt {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f7f4f1;
  text-align: right;
}
.stats__fake-data-xs {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  display: block;
  padding: 18px 0;
  background: #242424;
}
@media (max-width: 767px) {
  .stats__fake-data-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .stats__header-wrapper {
    width: 83.3333%;
    margin: 0 auto;
  }
  .stats__data-style-wrapper {
    background: #353535;
  }
  .stats__data-wrapper {
    width: 83.3333%;
    margin: 0 auto;
  }
  .stats__header-inner {
    min-height: 185px;
    margin-top: -210px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #fff;
    z-index: 1;
    position: relative;
    padding-bottom: 0;
  }
  .stats__header {
    width: 50%;
    padding-right: 5%;
    padding-left: 6.25%;
    text-align: left;
    font-size: 40px;
    line-height: 40px;
  }
  .stats__txt {
    width: 50%;
    padding: 0;
    padding-right: 12.5%;
    padding-left: 5%;
    text-align: left;
  }
  .stats__fake-data-xs {
    display: none;
  }
  .stats__fake-data-sm {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 18px 0;
    width: 50%;
    padding-left: 6.25%;
  }
  .stats__data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .stats__item {
    width: 50%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 35px;
    min-height: 160px;
    padding-right: 0;
  }
  .stats__item-txt {
    width: 100%;
    text-align: left;
  }
  .stats__item-txt br {
    display: none;
  }
  .stats__item:nth-child(3n+1) {
    background: #404040;
  }
  .stats__item:nth-child(2) {
    background: #4e4e4e;
  }
  .stats__item:nth-child(3) {
    background: #353535;
  }
  .stats__num {
    width: 100%;
    font-size: 72px;
  }
}
@media (min-width: 1200px) {
  .stats__section-wrapper {
    width: 83.333%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -160px;
  }
  .stats__header-wrapper {
    width: 33.333%;
  }
  .stats__header-inner {
    margin-top: 0;
    display: block;
    padding-bottom: 30px;
    min-height: 320px;
  }
  .stats__header {
    width: auto;
    padding: 0 12.5%;
    padding-right: 10%;
    margin: 0;
    margin-bottom: 50px;
  }
  .stats__txt {
    width: auto;
    padding: 0 12.5%;
    padding-right: 22%;
    margin-bottom: 30px;
  }
  .stats__data-style-wrapper {
    width: 66.666%;
  }
  .stats__data-wrapper {
    width: 100%;
    margin: 0;
  }
  .stats__fake-data-sm {
    padding: 0 12.5%;
    width: auto;
  }
}
.advantages {
  padding-top: 40px;
  padding-bottom: 90px;
  margin-bottom: 30px;
  position: relative;
}
.advantages::after {
  background: #f8f5f2;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -145px;
  height: 150px;
  width: 50%;
  -webkit-transform: skewY(10deg);
      -ms-transform: skewY(10deg);
          transform: skewY(10deg);
}
.advantages::before {
  background: #f8f5f2;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -145px;
  height: 150px;
  width: 50%;
  -webkit-transform: skewY(-10deg);
      -ms-transform: skewY(-10deg);
          transform: skewY(-10deg);
}
.advantages__wrapper {
  margin: 0 auto;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 45px;
}
.advantages__item {
  outline: none !important;
}
.advantages__figure {
  text-align: center;
  outline: none !important;
}
.advantages__title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #f7f4f1;
  text-transform: uppercase;
  text-align: center;
}
.advantages__txt {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #f7f4f1;
  text-align: center;
  font-weight: 400;
}
@media (max-width: 767px) {
  .advantages__img {
    margin: 0 auto;
  }
  .advantages__item {
    outline: none !important;
  }
  .slick-slide {
    outline: none;
  }
  .slick-dots li button::before {
    content: '';
    background: transparent;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .slick-dots li.slick-active button::before {
    background: #fff;
  }
  .slick-dots li {
    margin: 0 20px;
  }
}
@media (min-width: 768px) {
  .advantages::before {
    -webkit-transform: skewY(-5deg);
        -ms-transform: skewY(-5deg);
            transform: skewY(-5deg);
  }
  .advantages::after {
    -webkit-transform: skewY(5deg);
        -ms-transform: skewY(5deg);
            transform: skewY(5deg);
  }
  .advantages__wrapper {
    width: 83.3333%;
  }
  .advantages__item {
    border-bottom: 1px solid #404040;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .advantages__item:last-child {
    border-bottom: none;
  }
  .advantages__figure {
    font-size: 0;
    padding: 0;
    margin: 0;
  }
  .advantages__img {
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
  }
  .advantages__caption {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
  .advantages__title {
    font-size: 30px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
  }
  .advantages__txt {
    font-size: 20px;
    text-align: left;
    padding-right: 6.25%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__item {
    border-bottom: none;
    border-right: 1px solid #404040;
    width: 33.3333%;
  }
  .advantages__item:last-child {
    border-right: none;
  }
  .advantages__img {
    display: inline;
    margin: 0;
    margin-bottom: 30px;
  }
  .advantages__caption {
    display: block;
    width: auto;
  }
  .advantages__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .advantages__txt {
    text-align: center;
    padding-right: 14%;
    padding-left: 14%;
  }
  .advantages__item:nth-child(3n-1) .advantages__txt {
    padding-right: 18.75%;
    padding-left: 18.75%;
  }
}
.news {
  background: #f8f5f2;
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px;
}
.news__wrapper {
  width: 87.5%;
  margin: 0 auto;
  position: relative;
}
.news__header {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.news__show-btn {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  min-height: 50px;
  border: 1px solid #e5ddd5;
  color: #000;
  text-transform: uppercase;
  outline: none;
  width: 100%;
  position: absolute;
  bottom: -50px;
  background: transparent;
  cursor: pointer;
}
.news__show-btn:active,
.news__show-btn:focus {
  outline: none;
}
.news__show-btn:focus,
.news__show-btn:active {
  outline: none;
}
.news__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  display: none;
  padding-top: 30px;
  padding-bottom: 20px;
}
.news__item:nth-child(1),
.news__item:nth-child(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.news__item:nth-child(n+2) {
  border-top: 1px solid #e5ddd5;
}
.news__date {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  background: #000;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
}
.news__date::before,
.news__date::after {
  position: absolute;
  bottom: -5px;
  content: '';
  display: block;
  width: 50%;
  height: 10px;
  background: #f8f5f2;
}
.news__date::before {
  left: 0;
  -webkit-transform: skewY(20deg);
      -ms-transform: skewY(20deg);
          transform: skewY(20deg);
}
.news__date::after {
  right: 0;
  -webkit-transform: skewY(-20deg);
      -ms-transform: skewY(-20deg);
          transform: skewY(-20deg);
}
.news__num {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
}
.news__txt {
  width: 65.625%;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  margin: 0;
  margin-top: -10px;
}
@media (min-width: 768px) {
  .news {
    padding-bottom: 40px;
    border-bottom: 1px solid #e5ddd5;
  }
  .news__wrapper {
    width: 83.333%;
  }
  .news__header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .news__header {
    width: 50%;
    margin: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    text-align: left;
    font-size: 40px;
    line-height: 40px;
  }
  .news__show-btn {
    width: 160px;
    position: static;
    margin-left: auto;
  }
  .news__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .news__item {
    width: 50%;
  }
  .news__item:nth-child(n+2) {
    border: none;
  }
  .news__date {
    margin-right: auto;
  }
  .news__txt {
    padding-right: 10%;
    width: 78.625%;
  }
}
@media (min-width: 1200px) {
  .news__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33.333%;
  }
  .news__item:nth-child(n+4) {
    display: none;
  }
  .news__item:nth-child(odd) .news__txt {
    padding-right: 13.5%;
  }
  .news__txt {
    padding-right: 12.5%;
  }
}
.feedback {
  position: relative;
  background: #f8f5f2;
  padding-top: 30px;
  padding-bottom: 120px;
  border-top: 1px solid #e5ddd5;
}
.feedback::after {
  background: #292929;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -100px;
  height: 137px;
  width: 50%;
  -webkit-transform: skewY(10deg);
      -ms-transform: skewY(10deg);
          transform: skewY(10deg);
}
.feedback::before {
  background: #292929;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -100px;
  height: 137px;
  width: 50%;
  -webkit-transform: skewY(-10deg);
      -ms-transform: skewY(-10deg);
          transform: skewY(-10deg);
}
.feedback__wrapper {
  width: 87.5%;
  margin: 0 auto;
}
.feedback__header {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.feedback__btn {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  min-height: 50px;
  border: 1px solid #e5ddd5;
  background: transparent;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  outline: none;
  display: none;
}
.feedback__btn:active,
.feedback__btn:focus {
  outline: none;
}
.feedback__list {
  position: relative;
}
.feedback__item {
  padding-bottom: 25px;
}
.feedback__figure {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.feedback__img {
  margin-right: auto;
  width: 50px;
  height: 45px;
  outline: 1px #eae4dd;
}
.feedback__caption {
  width: 75%;
}
.feedback__title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
  text-transform: none;
}
.feedback__txt {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  margin: 0;
  text-align: left;
  padding-right: 10%;
}
.feedback .slick-dots li button::before {
  content: '';
  background: transparent;
  border: 2px solid #626261;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 15px;
  width: 15px;
}
.feedback .slick-dots li.slick-active button:before {
  background: #353535;
  opacity: 1;
}
@media (min-width: 768px) {
  .feedback {
    padding-bottom: 70px;
  }
  .feedback::before,
  .feedback::after {
    display: none;
  }
  .feedback__wrapper {
    width: 83.333%;
  }
  .feedback__header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
  }
  .feedback__header {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    margin: 0;
    font-size: 40px;
    line-height: 30px;
  }
  .feedback__btn {
    display: block;
  }
  .feedback__item {
    outline: none !important;
    padding: 35px 55px 35px 2%;
    border: 1px solid #e5ddd5;
  }
  .feedback__figure {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback__img {
    height: 80px;
    width: 100px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 4.5%;
  }
  .feedback button.slick-arrow {
    z-index: 1;
    width: 7.65625%;
    height: 100%;
    position: absolute;
    top: 50%;
    border: 1px solid #e5ddd5;
    border-collapse: collapse;
  }
  .feedback button.slick-prev {
    left: 0;
  }
  .feedback button.slick-next {
    right: 0;
  }
  .feedback .slick-dots {
    width: 130px;
    left: 50%;
    margin-left: -65px;
    background: #f8f5f2;
    bottom: -13px;
  }
  .feedback .slick-dots li button:before {
    height: 10px;
    width: 10px;
  }
  .feedback .slick-prev:before,
  .feedback .slick-next:before {
    font-family: 'fontello';
    color: #000;
  }
  .feedback .slick-prev:before {
    content: '\e806';
  }
  .feedback .slick-next:before {
    content: '\e807';
  }
}
@media (min-width: 1200px) {
  .feedback {
    padding-bottom: 100px;
  }
  .feedback__item {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5%;
  }
  .feedback__figure {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .feedback__figure {
    height: 100%;
    width: auto;
  }
  .feedback__img {
    height: 100%;
    width: auto;
    margin: 0;
    margin-right: 7%;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  .feedback__caption {
    width: 50%;
  }
  .feedback__title {
    padding-top: 30px;
  }
  .feedback .slick-dots {
    width: 100%;
    margin-left: 0;
    left: 0;
    bottom: -60px;
  }
  .feedback .slick-dots li {
    margin: 0 20px;
  }
}
.footer {
  position: relative;
  background: #292929;
  z-index: 1;
  padding-bottom: 25px;
}
.footer__wrapper {
  margin: 0 auto;
}
.footer__header-wrapper {
  width: 87.5%;
  margin: 0 auto;
}
.footer__link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.footer__header {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
  text-transform: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin-bottom: 15px;
}
.footer__adress {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 12.5%;
  padding-right: 12.5%;
  margin-bottom: 20px;
}
.footer__phone {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  width: 160px;
  min-height: 50px;
  border: 1px solid #e5ddd5;
  background: transparent;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  width: auto;
  border-color: #3e3e3e;
  text-align: center;
  line-height: 50px;
  margin-bottom: 25px;
}
.footer__phone:active,
.footer__phone:focus {
  outline: none;
}
.footer__social-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-bottom: 35px;
}
.footer__social-header {
  display: none;
}
.footer__social-link {
  display: block;
  min-height: 100px;
  border: 1px solid #3e3e3e;
  border-collapse: collapse;
  width: 33.3333%;
  text-align: center;
  color: #fff;
}
.footer__social-link [class^="icon-"] {
  text-align: center;
  line-height: 100px;
  font-size: 28px;
}
.footer__developer-wrapper {
  width: 87.5%;
  margin: 0 auto;
}
.footer__developer-header {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.footer__developer-link {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  width: 160px;
  min-height: 50px;
  border: 1px solid #e5ddd5;
  background: transparent;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  width: auto;
  border-color: #3e3e3e;
  text-align: center;
  line-height: 50px;
}
.footer__developer-link:active,
.footer__developer-link:focus {
  outline: none;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 55px;
  }
  .footer__wrapper {
    width: 83.3333%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__header-wrapper,
  .footer__social-wrapper,
  .footer__developer-wrapper {
    width: auto;
    margin: 0;
  }
  .footer__header-wrapper {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 65%;
    margin-bottom: 50px;
  }
  .footer__social-wrapper {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
  .footer__developer-wrapper {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 25%;
  }
  .footer__header {
    text-align: left;
    padding: 0;
  }
  .footer__adress {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }
  .footer__phone {
    display: inline;
    text-align: left;
    text-transform: none;
    font-weight: 400;
    border: none;
    line-height: 27px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 55px;
    padding-bottom: 60px;
  }
  .footer__wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__header-wrapper,
  .footer__social-wrapper {
    width: 33.3333%;
  }
  .footer__social-wrapper {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .footer__developer-wrapper {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 16.66%;
    margin-left: auto;
  }
  .footer__social-header {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__link-wrapper {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .footer__social-link {
    width: 50px;
    min-height: 50px;
    margin-right: 1.875%;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .footer__social-link [class^="icon-"] {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
  }
  .footer__social-link:first-child {
    margin-left: auto;
  }
  .footer__social-link:last-child {
    margin-right: auto;
  }
}
