
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-locked:before { content: '\e803'; } /* '' */
.icon-checkmark:before { content: '\e804'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */