section.feedback
	.feedback__wrapper
		.feedback__header-wrapper
			h3.feedback__header Отзывы о нас
			button.feedback__btn(type="button") Оставить свой
		ul.feedback__list
			li.feedback__item
				figure.feedback__figure
					img.feedback__img(src="../img/travis.jpg", alt="Трэвис Баркер" width="50" height="45")
					figcaption.feedback__caption
						h3.feedback__title Трэвис Баркер
						p.feedback__txt Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
			li.feedback__item
				figure.feedback__figure
					img.feedback__img(src="../img/travis.jpg", alt="Трэвис Баркер" width="50" height="45")
					figcaption.feedback__caption
						h3.feedback__title Трэвис Баркер
						p.feedback__txt Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
			li.feedback__item
				figure.feedback__figure
					img.feedback__img(src="../img/travis.jpg", alt="Трэвис Баркер" width="50" height="45")
					figcaption.feedback__caption
						h3.feedback__title Трэвис Баркер
						p.feedback__txt Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!