section.stats
			.stats__section-wrapper
				.stats__header-wrapper
					.stats__header-inner
						h1.stats__header стрижка у нас #[br] это выгодно
						p.stats__txt Мужская стрижка требует точного   подхода. Обратимся к статистике:
						span.stats__fake-data-sm #[sup *] — приведённые данные ложь
				.stats__data-style-wrapper
					.stats__data-wrapper
						ul.stats__data
							li.stats__item
								b.stats__num 1 500 #[sup *]
								span.stats__item-txt рублей #[br] вложений
							li.stats__item
								b.stats__num 7 200
								span.stats__item-txt секунд #[br] времени мастера
							li.stats__item
								b.stats__num 90 000
								span.stats__item-txt постриженных #[br] волос
							li.stats__item
								b.stats__num 500 000 #[sup *]
								span.stats__item-txt лайков и #[br]комплиментов
						span.stats__fake-data-xs #[sup *] — приведённые данные ложь