section.our-works
	.our-works__wrapper
		.our-works__header-wrapper
			h2.our-works__header Наши работы
			a.our-works__index-link(href="index.html") На главную
		ul.our-works__list
			li.our-works__item.our-works__main-item
				figure.our-works__figure.our-works__main-figure
					span.our-works__main-work Работа месяца
					picture
						source(srcset="img/petr-mobile.jpg" media="(max-width: 767px)")
						source(srcset="img/petr-tablet.jpg" media="(min-width: 768px)")
						source(srcset="img/petr-desktop.jpg" media="(min-width: 1200px)")
						img(src="img/petr-mobile.jpg", alt="Лжепётр Мчиславский")
					figcaption.our-works__caption.our-works__main-caption
						h3.our-works__caption-title Лжепётр Мчиславский
						p.our-works__caption-desc Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
						span.our-works__caption-feature.our-works__feature-haircut Стрижка
						span.our-works__caption-feature.our-works__feature-shave Бритье
						span.our-works__caption-feature.our-works__feature-mustoche Усы
			li.our-works__item
				figure.our-works__figure
					picture
						source(srcset="img/sasha-mobile.jpg" media="(max-width: 767px)")
						source(srcset="img/sasha-tablet.jpg" media="(min-width: 768px)")
						source(srcset="img/sasha-desktop.jpg" media="(min-width: 1200px)")
						img(src="img/sasha-desktop.jpg", alt="Саша Мальцев")
					figcaption.our-works__caption
						h3.our-works__caption-title Саша Мальцев
						p.our-works__caption-desc Попросил омолодить и омолодили! Кто теперь скажет, что мне 45? 
						span.our-works__caption-feature.our-works__feature-haircut Стрижка
			li.our-works__item
				figure.our-works__figure
					picture
						source(srcset="img/vladimir-mobile.jpg" media="(max-width: 767px)")
						source(srcset="img/vladimir-tablet.jpg" media="(min-width: 768px)")
						source(srcset="img/vladimir-desktop.jpg" media="(min-width: 1200px)")
						img(src="img/vladimir-desktop.jpg", alt="Владимир Иваныч")
					figcaption.our-works__caption
						h3.our-works__caption-title Владимир Иваныч
						p.our-works__caption-desc К зимнему сезону — готов!
						span.our-works__caption-feature.our-works__feature-beard Борода
						span.our-works__caption-feature.our-works__feature-mustoche Усы
			li.our-works__item
				figure.our-works__figure
					picture
						source(srcset="img/vin-mobile.jpg" media="(max-width: 767px)")
						source(srcset="img/vin-tablet.jpg" media="(min-width: 768px)")
						source(srcset="img/vin-desktop.jpg" media="(min-width: 1200px)")
						img(src="img/vin-desktop.jpg", alt="Винстон Синий")
					figcaption.our-works__caption
						h3.our-works__caption-title Винстон Синий
						p.our-works__caption-desc Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!
						span.our-works__caption-feature.our-works__feature-haircut Стрижка