footer.footer#page-footer
	.footer__wrapper
		.footer__header-wrapper
			h3.footer__header Барбершоп Бородинский
			p.footer__adress г. Санкт-Петербург, ул. Большая Конюшенная 19/8
			a.footer__phone(href="tel:+78125556666") Тел.: +7 (812) 555-66-66
		.footer__social-wrapper
			span.footer__social-header Давайте дружить!
			.footer__link-wrapper
				a.footer__social-link.footer__vk-link(href="#")
					i.icon-vkontakte
				a.footer__social-link.footer__facebook-link(href="#")
					i.icon-facebook
				a.footer__social-link.footer__insta-link(href="#")
					i.icon-instagram
		.footer__developer-wrapper
			span.footer__developer-header Разработано:
			a.footer__developer-link(href="https://github.com/KirKaz12" target="_blank") Kirill Stepanov
