section.prices
	.prices__wrapper
		h2.prices__header прейскурант
		.prices__content-wrapper
			table.prices__table
				tbody
					tr
						td 1
						td.type 
							b Классическая стрижка #[br] #[span.bracket (с мытьём головы)]
						td.no-bracket с мытьём головы
						td.price 1 500 руб.
					tr
						td 2
						td.type 
							b Современный вариант #[br] #[span.bracket (с мытьём головы)]
						td.no-bracket с мытьём головы
						td.price 1 500 руб.
					tr
						td 3
						td.type 
							b Индивидуальный подход #[br] #[span.bracket (с мытьём головы)]
						td.no-bracket с мытьём головы
						td.price 2 000 руб.
					tr
						td 4
						td.type 
							b Бритьё бороды #[br] #[span.bracket (без мытья)]
						td.no-bracket без мытья
						td.price 500 руб.
					tr
						td 5
						td.type 
							b Бритьё головы #[br] #[span.bracket (с мытьём головы)]
						td.no-bracket с мытьём головы
						td.price 1 000 руб.
			figure.prices__figure
				img.prices__clock-img(src="img/clock.png" alt="Часы")
				figcaption.prices__caption
					span.prices__off-conditions.prices__off-time C 10:00 до 14:00
					span.prices__off-conditions.prices__off-value  скидка 20%